# Build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executable binary
liverun
*.out
*.exe
*.app

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/
*.swp
*~

# Logs and temporary files
*.log

# Compiled object files
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib

